In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-02-04 17:54:00,-23.1203,-134.9692,78.26,69,99,11.05
1,1,Lebu,CL,2021-02-04 17:54:00,-37.6167,-73.6500,71.28,51,1,5.53
2,2,Khatanga,RU,2021-02-04 17:54:00,71.9667,102.5000,-30.86,79,0,8.84
3,3,Puerto Ayora,EC,2021-02-04 17:54:00,-0.7393,-90.3518,86.00,70,0,19.57
4,4,Yellowknife,CA,2021-02-04 17:50:02,62.4560,-114.3525,-24.00,68,20,10.36

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in temperatures])

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Adjust Heatmap Zoom, Intensity, and Point Radius

In [10]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in temperatures])
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Create a Percent Humidity Heatmap

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
## Create a Wind Speed Heatmap

In [15]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# GET A VACATION CRITERIA

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-02-04 17:54:00,-23.1203,-134.9692,78.26,69,99,11.05
3,3,Puerto Ayora,EC,2021-02-04 17:54:00,-0.7393,-90.3518,86.00,70,0,19.57
8,8,Saint-Philippe,RE,2021-02-04 17:54:01,-21.3585,55.7679,82.40,65,75,6.91
9,9,Castro,BR,2021-02-04 17:54:01,-24.7911,-50.0119,78.04,80,41,9.89
10,10,Sao Joao Da Barra,BR,2021-02-04 17:53:37,-21.6403,-41.0511,89.60,48,20,20.71
15,15,Geraldton,AU,2021-02-04 17:54:02,-28.7667,114.6000,77.00,31,98,17.27
27,27,Vaini,TO,2021-02-04 17:54:04,-21.2000,-175.2000,77.00,100,75,4.61
29,29,Lethem,GY,2021-02-04 17:54:05,3.3803,-59.7968,88.05,55,46,11.77
30,30,Luanda,AO,2021-02-04 17:51:33,-8.8368,13.2343,84.20,74,20,10.36
36,36,Bengkulu,ID,2021-02-04 17:54:05,-3.8004,102.2655,75.81,86,100,4.61

In [19]:
preferred_cities_df.count()

City_ID       165
City          165
Country       163
Date          165
Lat           165
Lng           165
Max Temp      165
Humidity      165
Cloudiness    165
Wind Speed    165
dtype: int64

In [20]:
preferred_cities_df.notnull().sum()

City_ID       165
City          165
Country       163
Date          165
Lat           165
Lng           165
Max Temp      165
Humidity      165
Cloudiness    165
Wind Speed    165
dtype: int64

In [21]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       2
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [22]:
# If you have some rows with null values, 
# you'll need to drop them using the dropna() method at the end of your filtering 
# statement when you are creating the new DataFrame.

In [23]:
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-02-04 17:54:00,-23.1203,-134.9692,78.26,69,99,11.05
3,3,Puerto Ayora,EC,2021-02-04 17:54:00,-0.7393,-90.3518,86.00,70,0,19.57
8,8,Saint-Philippe,RE,2021-02-04 17:54:01,-21.3585,55.7679,82.40,65,75,6.91
9,9,Castro,BR,2021-02-04 17:54:01,-24.7911,-50.0119,78.04,80,41,9.89
10,10,Sao Joao Da Barra,BR,2021-02-04 17:53:37,-21.6403,-41.0511,89.60,48,20,20.71
...,...,...,...,...,...,...,...,...,...,...
551,551,Mangai,CD,2021-02-04 17:55:13,-4.0500,19.5333,76.60,74,70,1.99
553,553,Morros,BR,2021-02-04 17:55:13,-9.4467,-46.3003,82.85,63,50,6.08
557,557,Mindelo,CV,2021-02-04 17:55:14,16.8901,-24.9804,75.20,57,40,34.52
558,558,Nabire,ID,2021-02-04 17:55:07,-3.3667,135.4833,76.69,87,100,2.71
560,560,French Harbor,HN,2021-02-04 17:55:14,16.3500,-86.4333,77.00,94,75,13.80

In [24]:
# MAP VACATION CRITERIA

In [25]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
0             Rikitea      PF     78.26 -23.1203 -134.9692
3        Puerto Ayora      EC     86.00  -0.7393  -90.3518
8      Saint-Philippe      RE     82.40 -21.3585   55.7679
9              Castro      BR     78.04 -24.7911  -50.0119
10  Sao Joao Da Barra      BR     89.60 -21.6403  -41.0511
15          Geraldton      AU     77.00 -28.7667  114.6000
27              Vaini      TO     77.00 -21.2000 -175.2000
29             Lethem      GY     88.05   3.3803  -59.7968
30             Luanda      AO     84.20  -8.8368   13.2343
36           Bengkulu      ID     75.81  -3.8004  102.2655

In [26]:
# Iterate Through hotel_df DataFrame

In [27]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

In [29]:
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng      Hotel Name
0             Rikitea      PF     78.26 -23.1203 -134.9692         Rikitea
3        Puerto Ayora      EC     86.00  -0.7393  -90.3518    Puerto Ayora
8      Saint-Philippe      RE     82.40 -21.3585   55.7679  Saint-Philippe
9              Castro      BR     78.04 -24.7911  -50.0119          Castro
10  Sao Joao Da Barra      BR     89.60 -21.6403  -41.0511         Grussaí
15          Geraldton      AU     77.00 -28.7667  114.6000       Geraldton
27              Vaini      TO     77.00 -21.2000 -175.2000      Nukuhetulu
29             Lethem      GY     88.05   3.3803  -59.7968          Bonfim
30             Luanda      AO     84.20  -8.8368   13.2343          Luanda
36           Bengkulu      ID     75.81  -3.8004  102.2655        Bengkulu

In [30]:
# Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [32]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# The text inside the multiline string is HTML code. 
# HTML code is defined by the opening and closing the angular brackets (e.g., <tag> and <tag/>). 

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))