## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mataura,NZ,-46.1927,168.8643,73.78,49,27,3.11,scattered clouds
1,1,Punta Arenas,CL,-53.1500,-70.9167,53.60,47,0,26.46,clear sky
2,2,Cockburn Town,TC,21.4612,-71.1419,80.60,69,40,11.50,scattered clouds
3,3,Zyryanka,RU,65.7500,150.8500,-23.17,85,57,3.36,broken clouds
4,4,Solnechnyy,RU,50.7214,136.6319,-12.84,84,100,3.00,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_hotel_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
clean_hotel_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Cockburn Town,TC,21.4612,-71.1419,80.60,69,40,11.50,scattered clouds
5,5,Rikitea,PF,-23.1203,-134.9692,79.07,69,5,12.66,clear sky
7,7,Calderitas,MX,18.5500,-88.2500,80.60,74,40,10.36,scattered clouds
17,17,Puerto Ayora,EC,-0.7393,-90.3518,82.40,74,40,5.75,scattered clouds
19,19,Atuona,PF,-9.8000,-139.0333,79.39,81,4,18.39,light rain
21,21,Georgetown,MY,5.4112,100.3354,79.00,83,20,6.06,few clouds
24,24,Avarua,CK,-21.2078,-159.7750,86.00,66,75,13.80,broken clouds
26,26,Sibolga,ID,1.7427,98.7792,75.22,80,85,4.23,overcast clouds
28,28,Butaritari,KI,3.0707,172.7902,81.32,80,80,17.74,light rain
29,29,Merauke,ID,-8.4667,140.3333,83.64,77,98,17.58,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows._df.isnull().sum()
clean_hotel_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_hotel_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Cockburn Town,TC,21.4612,-71.1419,80.60,69,40,11.50,scattered clouds
5,5,Rikitea,PF,-23.1203,-134.9692,79.07,69,5,12.66,clear sky
7,7,Calderitas,MX,18.5500,-88.2500,80.60,74,40,10.36,scattered clouds
17,17,Puerto Ayora,EC,-0.7393,-90.3518,82.40,74,40,5.75,scattered clouds
19,19,Atuona,PF,-9.8000,-139.0333,79.39,81,4,18.39,light rain
...,...,...,...,...,...,...,...,...,...,...
677,677,Sattahip,TH,12.6664,100.9007,75.20,64,6,5.75,haze
679,679,Gorontalo,ID,0.5412,123.0595,79.63,85,100,2.01,overcast clouds
683,683,La Libertad,EC,-2.2333,-80.9000,80.60,74,0,9.22,clear sky
684,684,Sinaloa,MX,25.0000,-107.5000,82.00,44,1,12.66,clear sky
685,685,Mandiana,GN,10.6333,-8.6833,80.04,18,82,3.38,broken clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_hotel_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Cockburn Town,TC,80.60,scattered clouds,21.4612,-71.1419,
5,Rikitea,PF,79.07,clear sky,-23.1203,-134.9692,
7,Calderitas,MX,80.60,scattered clouds,18.5500,-88.2500,
17,Puerto Ayora,EC,82.40,scattered clouds,-0.7393,-90.3518,
19,Atuona,PF,79.39,light rain,-9.8000,-139.0333,
21,Georgetown,MY,79.00,few clouds,5.4112,100.3354,
24,Avarua,CK,86.00,broken clouds,-21.2078,-159.7750,
26,Sibolga,ID,75.22,overcast clouds,1.7427,98.7792,
28,Butaritari,KI,81.32,light rain,3.0707,172.7902,
29,Merauke,ID,83.64,overcast clouds,-8.4667,140.3333,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    } 
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Cockburn Town,TC,80.60,scattered clouds,21.4612,-71.1419,Cockburn Town
5,Rikitea,PF,79.07,clear sky,-23.1203,-134.9692,Rikitea
7,Calderitas,MX,80.60,scattered clouds,18.5500,-88.2500,Chetumal
17,Puerto Ayora,EC,82.40,scattered clouds,-0.7393,-90.3518,Puerto Ayora
19,Atuona,PF,79.39,light rain,-9.8000,-139.0333,Atuona
...,...,...,...,...,...,...,...
677,Sattahip,TH,75.20,haze,12.6664,100.9007,Sattahip
679,Gorontalo,ID,79.63,overcast clouds,0.5412,123.0595,Gorontalo
683,La Libertad,EC,80.60,clear sky,-2.2333,-80.9000,La Libertad
684,Sinaloa,MX,82.00,clear sky,25.0000,-107.5000,Los Pochotes
685,Mandiana,GN,80.04,broken clouds,10.6333,-8.6833,Mandiana

In [10]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Cockburn Town,TC,80.60,scattered clouds,21.4612,-71.1419,Cockburn Town
5,Rikitea,PF,79.07,clear sky,-23.1203,-134.9692,Rikitea
7,Calderitas,MX,80.60,scattered clouds,18.5500,-88.2500,Chetumal
17,Puerto Ayora,EC,82.40,scattered clouds,-0.7393,-90.3518,Puerto Ayora
19,Atuona,PF,79.39,light rain,-9.8000,-139.0333,Atuona
21,Georgetown,MY,79.00,few clouds,5.4112,100.3354,George Town
24,Avarua,CK,86.00,broken clouds,-21.2078,-159.7750,Avarua District
26,Sibolga,ID,75.22,overcast clouds,1.7427,98.7792,Sibolga
28,Butaritari,KI,81.32,light rain,3.0707,172.7902,Isles Sunset Lodge
29,Merauke,ID,83.64,overcast clouds,-8.4667,140.3333,Urum

In [11]:
# 8a. Create the output File (CSV)"
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))